<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>Account Opening...</div>
    <br />
    <br />
    <br />
    <div>Thank you <%- userName %></div>
    for giving us a try

    <br />

    Use the link below to Activate your Account

    <br />
    <a href="<%= url %>">Start Here</a>
  </body>
</html>
